<div id="edit-text-{{id}}"
     class="panel panel-primary" 
     ng-controller="EditOrderController" 
     ng-init="set('[[ID]]')">
    <div class="panel-heading">{{ 'ORDER_OF' | translate }} {{id}}</div>
    <div class="panel-body">
        <ul style="list-style-type: none; padding: 0;"
            ui-sortable="sortableOptions" 
            ng-model="value.elements">
            <li ng-repeat="element in value.elements">
                <h4>{{element.id}}
                    <span class="label label-danger" 
                          style="cursor: pointer;" 
                          ng-click="remove(element)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </span>
                </h4>
            </li>
        </ul>
        <hr>
        <div class="input-group">
            <span class="input-group-addon">ID</span>
            <input type="text" class="form-control" placeholder="{{ 'ENTER_UNIQUE_ID' | translate }}" ng-model="sample.id">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Widget</span>
            <select class="form-control"
                    ng-model="sample.widgetName">
                <option ng-repeat="widget in widgets">{{widget}}</option>
            </select>
        </div>
        <button type="button" class="btn btn-default" ng-click="add()">{{ 'ADD' | translate }}</button>
        <hr>
        <button type="button" class="btn btn-default" ng-click="reRender()">{{ 'APPLY_CHANGES' | translate }}</button>
    </div>
</div>