<div id="edit-image-{{id}}"
     class="panel panel-primary"
     ng-controller="EditLinkController"
     ng-init="set('[[ID]]')">
    <div class="panel-heading">{{id}} - Link</div>
    <div class="panel-body">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.type" value="section" checked>
                Section
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.type" value="internal">
                Internal
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.type" value="external">
                External
            </label>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="value.href" ng-show="value.type !== 'external'">
                <option ng-repeat="href in hrefs">{{href}}</option>
            </select>
            <input type="text" class="form-control" id="value" placeholder="Href of {{id}}" 
                   ng-model="value.href" ng-show="value.type === 'external'">
        </div>
    </div>
</div>