<div id="edit-image-{{id}}"
     class="panel panel-primary"
     ng-controller="EditLinkController"
     ng-init="set('[[ID]]')">
    <div class="panel-heading">{{id}} - Link</div>
    <div class="panel-body">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.link.type" value="section" checked>
                {{ 'SECTION' | translate }}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.link.type" value="internal">
                {{ 'INTERNAL' | translate }}
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.link.type" value="external">
                {{ 'EXTERNAL' | translate }}
            </label>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="value.link.href" ng-show="value.link.type !== 'external'">
                <option ng-repeat="href in hrefs">{{href}}</option>
            </select>
            <input type="text" class="form-control" id="value" placeholder="{{ 'URL' | translate }}" 
                   ng-model="value.link.href" ng-show="value.link.type === 'external'">
        </div>
    </div>
</div>