<div id="edit-image-{{id}}"
     class="panel panel-primary" 
     ng-controller="EditImageController" 
     ng-init="set('[[ID]]')">
    <div class="panel-heading">{{id}} - {{ 'IMAGE' | translate }}</div>
    <div class="panel-body">
        <div class="form-group">
            <select class="form-control" ng-model="value.src">
                <option ng-repeat="file in files" value="{{file.url}}">{{file.name}}</option>
            </select>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ 'SOURCE' | translate }}</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" 
                       ng-model="value.src" 
                       disabled="disabled">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">{{ 'WIDTH' | translate }}</span>
                <input type="text" class="form-control" placeholder="Width of image" aria-describedby="basic-addon1" 
                       ng-model="value.width">
            </div>
        </div>
    </div>
</div>