<div class="modal fade" id="modal-link" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     ng-controller="ModalLinkController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Text edit of Widget {{id}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="value" placeholder="Text of {{id}}" ng-model="value.text">
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.type" value="section" checked>
                        Section
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.type" value="internal">
                        Internal
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="value.type" value="external">
                        External
                    </label>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="value.href">
                        <option ng-repeat="href in hrefs">{{href}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
            </div>
        </div>
    </div>
</div>