<div ng-controller="ToolboxController"
     ng-mouseenter="show()"
     ng-mouseleave="hide()"
     ng-show="isEnabled"
    style="position: fixed; top: 5px; left: 5px; z-index: 9999; display: block;">
    <h1>
        <span class="glyphicon glyphicon-flash" style="color: #ffffff; opacity: 0.3" ng-show="!isVisible"></span>
    </h1>
    <div class="btn-group-vertical" role="toolbar" ng-show="isVisible">
        <div class="bg-info text-center">Current</div>
        <button type="button" class="btn btn-default" ng-click="save()">Save</button>
        <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
        <div class="bg-info text-center">Page</div>
        <button type="button" class="btn btn-default" ng-click="addNew()">New</button>
        <button type="button" class="btn btn-default" ng-click="stopEdit()">Exit</button>
    </div>
</div>