<div ng-controller="ToolboxController"
     ng-mouseenter="show()"
     ng-mouseleave="hide()"
    style="position: fixed; top: 5px; left: 5px; z-index: 9999; display: block;">
    <h1>
        <span class="glyphicon glyphicon-flash text-info" style="opacity: 0.5" ng-show="!isVisible"></span>
    </h1>
    <div class="btn-group-vertical" role="toolbar" ng-show="isVisible">
        <div class="bg-info text-center">{{ 'CURRENT_PAGE' | translate }}</div>
        <button type="button" class="btn btn-default" ng-click="save()">{{ 'SAVE' | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="toggleWidgets()">{{ 'TOGGLE_WIDGETS' | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="reset()">{{ 'REVERT_CHANGES' | translate }}</button>
        <div class="bg-info text-center">{{ 'FILES' | translate }}</div>
        <button type="button" class="btn btn-default" ng-click="fileUpload()">{{ 'UPLOAD' | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="fileManager()">{{ 'MANAGER' | translate }}</button>
        <div class="bg-info text-center">{{ 'PAGES' | translate }}</div>
        <button type="button" class="btn btn-default" ng-click="pageManager()">{{ 'MANAGER' | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="logout()">{{ 'LOGOUT' | translate }}</button>
    </div>
</div>